<nav class="navbar navbar-expand-md navbar-light bg-light">
  <a href="#" class="navbar-brand">CovidTracker</a>
    <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">
        <div class="navbar-nav">
            <a href="#" *ngIf="isLoggedIn" class="nav-item nav-link active" [routerLink]="['states']">Dashboard</a>
            <a href="#" *ngIf="isLoggedIn" class="nav-item nav-link active" [routerLink]="['countries']">Countries</a>
            <a href="#" *ngIf="isLoggedIn" class="nav-item nav-link active" [routerLink]="['dashboard']">First</a>
        </div>
        <div class="navbar-nav ml-auto">
            <a href="#" *ngIf="isLoggedIn" class="nav-item nav-link">Logout</a>
            <a *ngIf="!isLoggedIn" class="nav-item nav-link" data-toggle="modal" data-target="#signUpModal">Sign Up</a>
        </div>
    </div>
  </nav>    
  <app-sign-up></app-sign-up>
